tqdm>=4.67.1
numpy>=1.26.4
pdf2image>=1.17.0
natsort>=8.4.0
regex>=2024.4.16
transformers>=4.49.0
mlx-vlm>=0.1.14
bitsandbytes>=0.45.2
accelerate>=0.26.0
flask>=3.1.0
Markdown>=3.6
pymdown-extensions>=10.14.3
Pygments>=2.17.2
urllib3>=2.3.0